@import "../../styles/variables.scss";


.ContentContainer {
  width: $max-container-width;
  display: flex;
  justify-content: center;
}

.FooterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, $color-gradient-dark, $color-gradient-light);
}
p{
    color:grey;
}
